@font-face {
    font-family: 'Space Grotesk';
    src: url('../../Fonts/SpaceGrotesk-Bold.woff'), url('../../Fonts//SpaceGrotesk-Bold.woff2');
    font-weight:700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('../../Fonts/SpaceGrotesk-SemiBold.woff'), url('../../Fonts/SpaceGrotesk-SemiBold.woff2');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('../../Fonts/SpaceGrotesk-Medium.woff'), url('../../Fonts/SpaceGrotesk-Medium.woff2');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('../../Fonts/SpaceGrotesk-Regular.woff'), url('../../Fonts/SpaceGrotesk-Regular.woff2');
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Space Grotesk';
    src: url('../../Fonts/SpaceGrotesk-Light.woff'), url('../../Fonts/SpaceGrotesk-Light.woff2');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

